# ===== Maven / Java =====
target/
.mvn/wrapper/maven-wrapper.jar

# ===== Environment / Secrets =====
.env
*.env
*.p12
*.jks
*.pem

# ===== Runtime folders =====
logs/
uploads/
../logs/
# ===== IntelliJ IDEA =====
.idea
*.iws
*.iml
*.ipr
../.idea/

# ===== Eclipse / STS =====
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ===== NetBeans =====
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# ===== VS Code =====
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

